<table class="c-users-list">
  <thead class="c-users-list__header">
  <tr>
    <th> Employee</th>
    <th> Email</th>
    <th> Address</th>
    <th> Start Date</th>
    <th> Performance Index</th>
    <th> About</th>
  </tr>
  </thead>
  <tbody
    class="c-users-list__body"
    ng-repeat="employee in EmployeesListComponentVm.employeesList track by $index">
  <tr>
    <td>
      <div class="c-users-list__main-info">
        <img class="c-users-list__avatar" ng-src="{{employee.profile.avatar}}" ng-attr-alt="{{employee.profile.name}}">
        <div>{{ employee.profile.name }}</div>
      </div>
    </td>
    <td> {{ employee.email }}</td>
    <td>{{ employee.profile.address }}</td>
    <td> {{ employee.start_date | date }}</td>
    <td> {{ employee.performance_index }}</td>
    <td>{{ employee.profile.about }}</td>
  </tr>
  </tbody>
</table>
