<div class="c-dashboard">
  <div class="c-filters__container">
    <v-highlight-filter ng-controller="homeController"
                        v-props-list="homePageVm.employees"
                        v-on-search-term="homePageVm.searchTermHandler"
                        watch-depth="value"></v-highlight-filter>
  </div>

  <employees-list employees-list="homePageVm.employees" highlight-text="homePageVm.searchTerm"></employees-list>

  <div class="c-dashboard__footer">
    <button ng-if="!homePageVm.noMorePages" ng-disabled="homePageVm.loading" class="c-button"
            ng-click="homePageVm.loadMore()">
      Load More
      <span ng-if="homePageVm.loading" class="loader"></span>
    </button>
  </div>
</div>
